h1{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    color: blue;
    font-size: 40px;
}
.question {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.container {
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.blue {
    background-color: blue;
}
.red {
    background-color: red;
}

.margin{
    position: relative;
    margin-bottom: 200px;
}

#dragImage {
    position: fixed;
    width: 100px; 
    height: auto; 
    cursor: pointer;
}

canvas {
    border: 1px solid black;
}