body {
    font-size: 150%;
    color: red;
    background-image: url("cat.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
html, body {
    height: 100%;
    margin: 0;
}
h1 {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.question {
    color: green;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
h1, h2 {
    padding: 0.5em;
    border: dashed;
    margin: 0.5em;
}